.inputForm {
  display: flex;
  margin: auto;
  margin-bottom: 1rem;
  gap: 5px;
  max-width: 20rem;
  position: relative;

  .submitButton {
    position: absolute;
    right: 0;
    width: 2.5rem;
  }
}

.appContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding-bottom: 6rem;
  justify-self: center;
  max-width: 95%;

}

.darkModeToggle {
  position: absolute;
  top: 0;
  margin: 0.5rem;
  right: 0;
}

.inputField {
  padding-right: 3rem;
}

.responseContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.responseTitle {
  font-size: 26px; 
  max-width: 30rem;
}

.responseIntroduction {
  margin-bottom: 0.5rem;
  max-width: 40rem;

}

.phaseTitle {
  display: flex;
  gap: 5px;
  font-size: 18px;
}

.phaseContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: al;
}

.stepContainer {
  margin-left: 1rem;
}

.instructionsList {
  max-width: 35rem;
  margin-left: 1rem;
}

